.Button {
  &.outline {
    border-width: var(--btn-outline-borderWidth);
  }

  &.disabled {
    background-color: var(--btn-disabled-bg-color);
    color: var(--btn-disabled-color)
  }

  &.outline.disabled {
    border-color: var(--btn-disOutline-bg-color);
    color: var(--btn-disOutline-color);
    background-color: transparent;
  }

  &-ripple {
    border-radius: 45%;
    background-color: var(--btn-ripple-color);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.5s linear;
  }
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
