:root {
  /* Size: **/
  --radio-size: 1.5rem;
  --radio-small-size: 1.25rem;

  /* Color: **/
  --radio-color: var(--first);

  /* Border: **/
  --radio-border-thickness: 3px;
  --radio-border: solid var(--radio-border-thickness) var(--radio-color);

  /* Dot: **/
  --radio-dot-size: 50%;

  /* Label: **/
  --radio-label-fontSize: var(--base);
  --radio-label-small-fontSize: var(--small);
  --radio-label-marginLeft: var(--small);
}
