.Selectbox {
  &-trigger {
    border: var(--selectbox-border);
    border-radius: var(--selectbox-border-radius);
    background-color: var(--selectbox-background);
    padding: var(--selectbox-padding);
    color: var(--selectbox-color);
    &.native {
      padding: 0;
    }
  }
  &-label {
    color: var(--selectbox-label-color);
    &.populated {
      transform: translateY(var(--selectbox-label-top));
    }
    .focus & {
      color: var(--first);
    }
  }

  &-value {
    padding-top: var(--selectbox-value-pt);
    color: var(--selectbox-value-color)
  }
  &-list {
    background-color: var(--selectbox-list-background);
    border: var(--selectbox-list-border);
    border-radius: var(--selectbox-list-border-radius);
    transform: translateY(101%);
    &Wrapper {
      max-height: var(--selectbox-list-height);

    }
  }
  &-list-item {
    height: var(--selectbox-list-item-height);
    border: var(--selectbox-border);
    border-radius: var(--selectbox-border-radius);
    background-color: var(--selectbox-list-item-background);
    padding: var(--selectbox-list-item-padding);
    &.selecting {
      border: var(--selectbox-selecting-border);
    }
    &-checkbox {
      margin-bottom: 2px;
      width: var(--selectbox-checkbox-size);
      height: var(--selectbox-checkbox-size);
      border: var(--selectbox-checkbox-border);
      border-radius: var(--selectbox-checkbox-border-radius);
      &::before {
        content: '';
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-45%, -55%) rotate(45deg);
        height: var(--selectbox-checkmark-height);
        width: var(--selectbox-checkmark-width);
        border-bottom: var(--selectbox-checkmark-border);
        border-right: var(--selectbox-checkmark-border);
        opacity: 0;
        transition: 0.5s;
      }
    }
    &.active,
    &:hover {
      background-color: var(--selectbox-background-active);
      color: var(--selectbox-color-active);
      .Selectbox-list-item-checkbox {
        border: var(--selectbox-checkbox-border-active);
      }
    }
    &.active {
      .Selectbox-list-item-checkbox::before {
        opacity: 1;
      }
    }
  }
  &-list-submit {
    background-color: var(--selectbox-submit-background);
    height: var(--selectbox-list-item-height);
  }
  &-select {
    appearance: none;
    background-color: transparent;
    border: var(--selectbox-border);
    border-radius: var(--selectbox-border-radius);
    padding: var(--selectbox-padding);
    padding-top: 1.25rem;
    color: var(--selectbox-color);
    .material & {
      padding: var(--selectbox-native-material-padding);
    }
  }
  &.native {
    background-color: var(--selectbox-background);
    .Selectbox-label {
      top: 50%;
      left: var(--selectbox-padding);
      transform: translate(0, -50%);
      user-select: none;
      &.populated {
        transform: translateY(var(--selectbox-native-label-top));
      }
    }
    .Selectbox-arrow {
      user-select: none;
      top: 40%;
      right: var(--selectbox-padding, 0.75rem);
      transform: rotate(45deg) translateX(-50%);
    }
  }
  &.material {
    border-bottom: var(--selectbox-material-border);
    .Selectbox-trigger {
      background-color: var(--selectbox-material-background);
      padding: var(--selectbox-material-padding);
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: var(--first);
      transform: translate(-50%, 100%) scaleX(0);
      width: 100%;
      height: var(--textfield-material-border-thickness-active);
      transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    }
    &:hover {
      border-bottom: var(--selectbox-material-border-hover);
    }
    &.focus {
      border-bottom-color: transparent;
      &::before {
        transform: translate(-50%, 100%) scaleX(1);
      }
    }
  }
  &.native.material {
    background-color: var(--selectbox-material-background);
    .Selectbox-label {
      left: 0;
    }
    .Selectbox-arrow {
      right: 0;
    }
  }
}
